body{
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

/*NavBar*/

.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: darkorange;
}
.nav-bar a{
    text-decoration: none;
    padding-left: 5px;
}

.navbar-logo{
    justify-self: start;
    margin-left: 50px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
}
/*SECCION DE EL TEXTO VER CARRITO*/
.ver-carrito{
    font-size: 25px;
    margin-right: 40px;
    margin-top: 4vh;
    cursor: pointer;
    color: white;
}

/*SECCION DEL BANNER*/
.banner{
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(207,47,167,0.4)), url("../IMG/Banner\ de\ frutas.jpg");
}

.banner-container{
    text-align: center;
    padding: 5% 0;
}

.banner-container h1{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(44,3,27,0.4);
    font-size: 60px;
    font-weight: bold;
}

.banner-container p{
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 3px rgba(44,3,27,0.4);
    opacity: 0.7;

}
/*SECCION PIE DE PAGINA*/

.footer{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: darkorange;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer-container h3{
    padding-right: 150px;
    padding-left: 150px;
    font-size: 17px;
}

/*SECCION CONTENIDO PRODUCTOS*/

.shopProduct{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px;
}
/*Modificacion de las imagenes*/
.card{
    box-shadow: 0 4px 8px rgba(207,47,167,0.4);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.card img{
    width: 90%;
    height: 250px;
}

.card h3{
    color: darkorange;
    font-size: 25px;
}

.card p{
    color: gray;
}

.compras{
    border: 1px dotted black;
    border-radius: 5px;
    padding: 12px;
    background-color: rgb(181, 19, 19);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
}

.compras:hover{
    background-color: rgb(182, 1, 1);
    color: black;
    opacity: 0.7;
    border: 2px solid white;
}

/*CAJA DE EL CARRITO*/

.modo-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    background-color: gray;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    box-shadow: 0 4px 8px rgba(207,47,167,0.4);
    border-radius: 20px;
    border: 1px solid white;
}
/*para quitar el scroll de la pagina superpuesta*/
.modo-container::-webkit-scrollbar{
    display: none;
}

/*SECCION HEADER*/

.modo-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}
.modo-header-title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER HUTTON DE LA PAGINA SOPERPUESTA*/
.modo-header-button{
    cursor: pointer;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: gray;
}
.modo-header-button:hover{
    background-color: white ;
    border: solid 2px gray;
    color: black;
}

/*SECCION DE MODO-CONTENT*/
.modo-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 10px;
}
.modo-container img{
    width: 120px;
    height: 120px;
}
/*texto de lois productos en la seccion de carrito*/
.modo-container h3{
    font-size: 25px;
}
.modo-container p{
    font-size: 25px;
}

/*SECCION DE TOTAL DE LOS PRODUCTOS*/

.total-content{
    background-color: black;
    color: white;
    font: 25px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/*HABILITACION DEL BOTON HACIENDO USO DE EVENTOS*/
